{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>
<body>
     {% if messages %}
        <div class="popup">
            {% for message in messages %}
                <p class="popup-message">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="signup-container">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <div class="form-footer">
            <p>Already have an account? 
                <a href="{% url 'login' %}" class="btn">Login</a>
            </p>
        </div>
    </div>

</body>
</html>
